.header {
    min-height: 250px;


    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .avatar {
        margin-bottom: 0;
    
    img {
        width: 150px;
        height: 150px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 50px;
    max-width: 400px;

.name {
    margin-bottom: 8px;
}

.position {
    margin-bottom: 18px;
}

}

}