.education {

    .container {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #DEE2ED;
        margin-bottom: 24px;
    }

    ul {
        padding-left: 8px;
    }

    .borders {
        border-bottom: unset;
    }

    .borders ul {
        border-left: 2px dashed #DEE2ED;
    }

    h2 {
        margin-bottom: 0;
        margin-right: 51px;
    }

    h3 {
        margin-bottom: 8px;
    }

    p {
        margin-bottom: 24px;
    }

}