.experience {
    .container {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
    }
    .title h2 {
        margin-bottom: 0px;
        margin-right: 41px;
    }

    .list-flex {
        display: flex;
        flex-direction: column;
    }

    .list {

        border-bottom: unset;
        margin-bottom: 0;
        padding-bottom: 25px;
        
        ul {
            padding-left: 8px;
        }
        
        h3 {
            margin-bottom: 15px;
        }

    }

}