.languages {

    .container {
        padding-top: 15px;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
    }

    .short-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        display: flex;
        flex-direction: column;
    }
}