.tools {
    .container {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .short-list {
        display: flex;
        flex-direction: row;
    }

    .short-list ul {
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(3, 25px);
        grid-row-gap: 25px;
        align-items: flex-start;
        justify-content: center;
        }
}