.certification {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 15px;
        background:  #c7c7c7;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        margin-bottom: 15px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .list__item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item__title, .item__date {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #000000;
                margin-bottom: 15px;
                line-height: 147%;
            }
        }
    }
}