.contacts {
    margin-bottom: 5px;
    
    .container {
        background-color: #58554d;
        border-radius: 0 0 15px 15px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        padding-top: 25px;
        padding-bottom: 25px;

        li {
            margin-bottom: 15px;
        }

        a { 
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: #fefefe;
            transition: .3s ease-in;
        }

        li:hover {
            a {
                color: #8d8d8d;
            }
        }

    }
}