* {
    box-sizing: border-box;
    line-height: 1;
    scroll-behavior: smooth;
}

.container {
    max-width: 595px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: black;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }