.skills {
    margin-bottom: 5px;

    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 15px;
        background: rgb(0, 0, 0);
        background: #c7c7c7;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        justify-content: flex-start;
    }

    .skills__block {

        .block__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        .block__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #000000;
            margin-bottom: 25px;
        }
    
        .list__item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            line-height: 147%;
        }
    }

    .skills__projects {

        .list__item {
            margin-bottom: 25px;
        }

        .projects__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #000000;
            margin-bottom: 25px;
        }

        .item__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #000000;
            line-height: 147%;
        }

        .item__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            line-height: 147%;
        }

        .item__link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            line-height: 147%;
        }
    }
}