.skills {
    margin-bottom: 5px;

    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 15px;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, #1f1e1e, rgb(23, 76, 5) 57%);
    }

    .skill-list li {
        display: flex;
        align-items: center;
    }

    .skill-list li::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: 5px;
    }

    .title {
        margin-bottom: 15px;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 5px;
        }
    }

    .short-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .short-list ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 25px;
    }

    li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        line-height: 147%;
    }
}